* { font-family:'Roboto', sans-serif;margin:0 auto;padding:0; }

a{ color:inherit;text-decoration:none; }

.padding-vertical{ padding-top:25px;padding-bottom:25px; }
.padding-vertical-2x{ padding-top:50px;padding-bottom:50px; }
.padding-vertical-3x{ padding-top:75px;padding-bottom:75px; }

#menu-bar{
background-color: #03A9F4;
height:75px;
text-align:center;
}

#menu-bar > .title{
color: #FFF;
font-size:25px;
font-weight:bold;
padding-top:7px;
}

#menu-bar > .title span{
color: #FFF;
font-size:18px;
font-weight:bold;
}

#breadcrumbs{
margin-bottom:25px;
}

#breadcrumbs a[data-label]:before{
content: attr(data-label);
position: absolute;
margin-top:-17px;
font-size:11px;
color:#FFF;
border-radius:12px;
padding:2px 7px;
background-color:#03A9F4;
}

.box{
box-shadow: 0 2px 10px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.15);
padding:25px;
margin-bottom:25px;
position:relative;
}

.flat{
padding:25px;
margin-bottom:25px;
position:relative;
}

.add-new{
background-color:#C5E1A5;
color:#FFF;
font-size:16px;
padding: 15px;
transition:all 0.2s;
}

.add-new:hover{
background-color:#9CCC65;
transition:all 0.2s;
cursor:pointer;
}

.box-quiz{
transition:all 0.2s;
}

.box-quiz:hover{
box-shadow: 0 2px 10px rgba(0,0,0,0.15), 0 3px 5px rgba(0,0,0,0.20);
transition:all 0.2s;
}

.box-quiz > input{
padding:5px 5px;
outline:none;
width:calc(100% - 35px);
border:none;
border-bottom:1px solid #CCC;
font-size:16px;
font-weight:bold;
}

.box-quiz > input:focus{
border-bottom:1px solid #03A9F4;
}

.box h4{
margin-top:0;
margin-bottom:10px;
}

.box .question-counter{
position:absolute;
bottom:0;right:0;
padding:10px;
}

.box-list{
padding:15px 0px;
}

.box-list li{
padding:15px 0px;
list-style:none;
position:relative;
}

.box-list li input{
padding:5px 5px;
outline:none;
width:calc(100% - 35px);
border:1px solid #CCC;
}

.box-list li input:focus{
border:1px solid #03A9F4;
}

.box-list li span{
position:absolute;
right:0;
top:20px;
}

.box-quiz > span{
background-color:#4CAF50;
padding:3px 7px;
border-radius:15px;
font-size:12px;
color:#FFF;
margin-right:10px;
}

.box-quiz > hr{
border:none;
border-bottom:1px solid #CCC;
}

.material-icons{
margin:0px 10px;
font-size:20px!important;
vertical-align:bottom;
}

.background-icon{
overflow:hidden;
}

.background-icon i{
color: rgba(0,0,0,0.2);
font-size:64px!important;
position:absolute;
right:0;
bottom:-15px;
-ms-transform: rotate(20deg); /* IE 9 */
-webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
transform: rotate(20deg);
}

.copy-question{
	cursor:pointer;
}

/* ----- LABELS COLORS ----- */
span[data-difficulty="1"]{ background-color:#4CAF50; }
span[data-difficulty="2"]{ background-color:#FF9800; }
span[data-difficulty="3"]{ background-color:#F44336; }

span[data-type="lang"]{ background-color:#03A9F4; }

/* CORRECT ANSWER INPUT */
input[type=radio] ~ label:before,
input[type=checkbox] ~ label:before {
    font-family: 'Material Icons';
    display: inline-block;
    content: "\e888";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #f44336;
    width: 1.4em;
}

input[type=radio]:checked ~ label:before,
input[type=checkbox]:checked ~ label:before  {
    content: "\e86c";
    font-size: 1.2em;
    color: #4CAF50;
    letter-spacing: 5px;
}